#readOverlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#readInner, #focusreader-banner {
	text-align: left;
	margin: 0 auto;
}
.mobile #readInner, .mobile #focusreader-banner {
	max-width:300px;
	overflow:hidden;
}
#focusreader-banner {
	border-bottom: 1px solid #eee;
  padding: 6px 0;
}
#focusreader-banner > span {
  display: block;
}
#focusreader-banner .fleft {
  float: left;
  color: #999;
}
#focusreader-banner .fright {
  float: right;
}

#focusreader-banner a, #focusreader-banner span {
	color:#333;
	font-size:11px;
  line-height: 11px;
}
#readInner a {
	color: blue;
	text-decoration: underline;
}
#readInner * {
	margin-bottom: 30px; /* shold be >= .focusreader-size font-size */
	border: none;
	background: none;
}
#readInner p {
	display:block;
	width:100%;
	clear:both;
}
#readInner img {
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}
#readInner pre {
	float:none;
	width:100%;
	clear:both;
	font-family:Monaco,Courier,mono;
	font-size:14px;
	line-height:1.4em;
}
.mobile #readInner pre code {
	width:300px;
	overflow:auto;
}
#readInner code {
}
#readInner pre ol {
	list-style:none;
}
#readInner h1 {
	display: block;
	width: 100%;
	font-size: 2em;
  line-height: 1.1em;
  font-weight: 900;
}
#readInner blockquote {
	margin:0 !important;
	font-style:italic;
}
#readInner h2,#readInner h3,#readInner h4 {
	display:block;
	position:relative;
	width:100%;
	clear:both;
}
/* Causing problems with BBC 
th,td {white-space: nowrap !important;padding:2px 5px !important;}
*/

.focusreader-size {
	font-size: 26px;
  line-height: 38px;
}

.focusreader-style {
	font-family: "Helvetica Neue", Arial, sans-serif;
	background: #fff;
	color: rgba(0,0,0,0.8);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.189px;
}

.focusreader-style h1 {
	font-weight: bold;
}

.focusreader-width {
  min-width: 25em;
  max-width: 32em;
}
